body {
  background-color: ghostwhite;
}

.container {
  /* padding: 10px;
  margin: 100px; */
  width: 50%;
  height: 400px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
}

.box {
  background-color: yellow;
  /* margin: 10px;
  padding: 10px; */
  border: 1px solid red;
  flex-basis: 30%;
}

.text {
  order: 1
}

.image {
  order: 2;
}

